.auth-container {
  min-height: 100vh;
  background: radial-gradient(circle at top, #111, #000 80%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-box {
  width: 380px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);
  border-radius: 25px;
  padding: 50px 40px;
  text-align: center;
  border: 1px solid rgba(255,0,0,.4);
  box-shadow: 0 0 40px rgba(255,0,0,.4);
}

/* ===== Logo ===== */
.auth-logo {
    height: 45px;
  width: 90px;
  margin-bottom: 15px;
  filter: drop-shadow(0 0 20px red);
  border-radius: 30%;
}

.auth-box h2 {
  color: white;
  margin-bottom: 5px;
}

.auth-tagline {
  color: #aaa;
  margin-bottom: 30px;
  font-size: 14px;
}

/* ===== Inputs ===== */
.auth-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  background: rgba(0,0,0,.6);
  border: 1px solid rgba(255,0,0,.4);
  border-radius: 12px;
  color: white;
  outline: none;
  font-size: 15px;
}

.auth-box input:focus {
  box-shadow: 0 0 15px red;
}

/* ===== Button ===== */
.auth-box button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, red, #ff4040);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 25px red;
  transition: .3s;
}

.auth-box button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px red;
}

/* ===== Links ===== */
.auth-box p {
  margin-top: 20px;
  color: #aaa;
}

.auth-box a {
  color: red;
  text-decoration: none;
  font-weight: 600;
}
