.footer {
  background: linear-gradient(to top, #050505, #0b0b0b);
  padding: 80px 8% 30px;
  border-top: 1px solid rgba(255,0,0,.4);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* ===== Brand ===== */
.footer-brand img {
  width: 140px;
  height: 65px;
  filter: drop-shadow(0 0 15px red);
  border-radius: 30%;
}

.footer-brand h3 {
  font-size: 28px;
  margin-top: 10px;
  background: linear-gradient(to right, white, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-brand p {
  color: #aaa;
  margin-top: 5px;
}

/* ===== Links ===== */
.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links a {
  color: #cfcfcf;
  text-decoration: none;
  font-weight: 500;
  transition: .3s;
}

.footer-links a:hover {
  color: red;
}

/* ===== Social ===== */
.footer-social span {
  display: block;
  color: #aaa;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .3s;
}

.footer-social span:hover {
  color: red;
}

/* ===== Bottom ===== */
.footer-bottom {
  margin-top: 50px;
  text-align: center;
  color: #666;
  font-size: 14px;
  border-top: 1px solid rgba(255,0,0,.2);
  padding-top: 20px;
}

/* ===== Responsive ===== */
@media(max-width:800px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
}
