/* ===== PLANS ===== */
.home-plans {
  padding: 100px 8%;
  text-align: center;
}

.home-plans h2 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 50px;
  text-shadow: 0 0 20px red;
}

.plans-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.plan-card {
  width: 280px;
  padding: 40px 20px;
  border-radius: 20px;
  background: linear-gradient(145deg, #0b0b0b, #111);
  border: 1px solid rgba(255,0,0,.4);
  color: white;
  font-size: 22px;
  box-shadow: 0 0 30px rgba(255,0,0,.3);
  transition: .4s;
}

.plan-card:hover {
  transform: translateY(-15px) scale(1.05);
  box-shadow: 0 0 60px red;
}

.plan-card.popular {
  background: linear-gradient(135deg, red, #ff3b3b);
  color: white;
  transform: scale(1.1);
}

/* ===== WHY US ===== */
.why {
  padding: 100px 8%;
  text-align: center;
}

.why h2 {
  font-size: 40px;
  margin-bottom: 50px;
  color: white;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}

.why-card {
  background: rgba(255,255,255,.05);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255,0,0,.4);
  font-size: 18px;
  box-shadow: 0 0 20px rgba(255,0,0,.2);
  transition: .3s;
}

.why-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 40px red;
}

/* ===== GALLERY ===== */
.gallery {
  padding: 100px 8%;
  text-align: center;
}

.gallery h2 {
  font-size: 40px;
  margin-bottom: 50px;
  text-shadow: 0 0 20px red;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.gallery-grid img {
  width: 100%;
  border-radius: 20px;
  transition: .4s;
  filter: brightness(.8);
}

.gallery-grid img:hover {
  transform: scale(1.1);
  filter: brightness(1);
}



/* ===== Responsive ===== */
@media(max-width:900px) {
  .plans-container {
    flex-direction: column;
  }

  .why-grid {
    grid-template-columns: repeat(2,1fr);
  }

  .gallery-grid {
    grid-template-columns: repeat(2,1fr);
  }
}
